/* Different Texts */
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Raleway:ital@1&display=swap');

h1{
    font-family: 'Abhaya Libre', serif;
    font-size: 4rem;
}

h2{
    font-family: 'Abhaya Libre', serif;
    font-size: 2rem;
}

h3{
    font-family: 'Abhaya Libre', serif;
    font-size: 1rem;
}

p{
    font-family: 'Raleway', sans-serif;
}

a{
    font-family: 'Raleway', sans-serif;
}

/* General CSS */

::-webkit-scrollbar {
    width: 0;
  }

body{
    height: auto;
    margin: 0;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

.header_universal{
    display: grid;
    background-color: transparent;
    position: fixed;
    z-index: 1;
    height: 8vh;
    width: 100vw;
    grid-template-columns: 15% 1fr 5vw;
    grid-template-areas:
    'hl hn ni';
    transition: background-color 0.5s ease;
}

.header_universal--transparent {
    background-color: rgb(114, 114, 114);
  }

.header_universal--transparent .nav_link{
    color: black;
}

.header_universal--transparent .icon_div {
    color: black;
  }

.header_nav{
    grid-area: hn;
    display: flex;
    margin: 0;
    padding-right: 35vw;
    align-items: center;
    justify-content: space-evenly;
}

.header_link_div{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_link {
    font-size: 1.5rem;
    text-decoration: none;
    line-height: 1;
    color: white;
    background: linear-gradient(0deg, slateblue, slateblue) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms, color 0.5s;
    --bg-h: 100%;
  }
  
  .nav_link:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }

.menu_button{
    grid-area: nb;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
    display: none;
}

.menu_button .material-icons{
    font-size: 2rem;
}

.menu{
    height: 0;
    width: 25vw;
    background: hotpink;
    position: fixed;
    top: 0;
    left: -26vw;
    transition: left 0.3s;
    z-index: 3;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
}

.show{
    left: 0;
}

.fade_layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 2;
}

.fade_layer.visible{
    display: block;
}

.header_logo{
    grid-area: hl;
    background-image: url(/img/general/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 2%;
    margin-bottom: 2%;
}

.nav_icons{
    grid-area: ni;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 1vw;
    color: white;
    transition: color 0.2s;
}

.icon_div{
    width: 5%;
}

.icon_div:hover{
    cursor: pointer;
}



/* Home Page CSS */

#home_container{
    height: 92vh;
    margin: 0;
    padding-top: 8vh;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 50%), url('/img/services/Group_Training.jpg');
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 1fr;
    grid-template-areas: 
    'ht hi'
    'in hi';
}

#home_image{
    width: 100%;
    height: 100%;
    grid-area: hi;
}

#home_title{
    display: flex;
    grid-area: ht;
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 5vw;
    top: 2vh;
}

#home_info{
    grid-area: in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.home_info_box {
    background-color: rgb(121, 117, 117);
    height: 16%;
    width: 65%;
    margin: 0;
    position: relative;
    right: 5vw;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.home_info_box::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #f14e4e;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.home_info_box:hover::before{
  transform: scale(1.1);
  box-shadow: 0 0 15px #f14e4e;
}
  
.home_info_box:hover{
    color: #f14e4e;
    box-shadow: 0 0 10px #f14e4e;
    text-shadow: 0 0 5px #f14e4e;
}





/* Shop Page CSS */

#shop_container{
    min-height: 95vh;
    height: fit-content;
    display: grid;
    grid-template-rows: 30vh 1fr;
    grid-template-areas: 
    'si'
    'ss';
    margin: 0;
    padding-bottom: 5vh;
    background-color: rgb(114, 114, 114);
}

#shop_image{
    grid-area: si;
    background-color: blueviolet; 
    display: flex;
    justify-content: center;
    align-items: end; 
}

#shop_image img{
    height: 50%;
}

.shop_section{
    grid-area: ss;
    display: flex;
    margin: 0;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

#protein_button,
#supplements_button,
#training_clothes_button,
#accessories_button {
    display: flex;
}

.protein_section{
    grid-area: pr;
}

.supplements_section{
    grid-area: sp;
}

.training_clothes_section{
    grid-area: tc;
}

.accessories_section{
    grid-area: ac;
}

.products_button {
    justify-content: center;
    align-items: center;
    margin: 0;
    cursor: pointer;
    display: flex;
    background-color: white;
    width: 33vw;
    height: 10vh;
    margin-top: 5vh;
    transition: width 0.8s ease-in-out;
    transition-delay: 0.8s;
  }
  
  .products_button.wide {
    width: 80vw;
    transition-delay: 0s;
  }  

.products_section {
    display: inline-flex;
    opacity: 0;
    height: 0;
    border: 0px solid black;
    align-content: center;
    justify-content: center;
    width: 33vw;
    animation: none;
  }
  
  .show_products {
    display: inline-flex;
    height: 40vh;
    border: 1px solid black;
    opacity: 100;
    position: relative;
    width: 80vw;
  }
  
  .show_products.animation {
    animation: show_section 1.6s ease-in-out forwards;
  }
  
  .show_products.animation-reverse {
    animation: hide_section 1.6s ease-in-out forwards;
  }
  
  @keyframes show_section {
    0% {
      width: 33vw;
      opacity: 0;
      border: 0;
      height: 0;
    }
    50% {
      width: 80vw;
      opacity: 0;
      border: 1px solid black;
      height: 0;
    }
    100% {
      width: 80vw;
      opacity: 1;
      border: 1px solid black;
      height: 40vh;
    }
  }
  
  @keyframes hide_section {
    0% {
      height: 40vh;
      width: 80vw;
      opacity: 1;
      border: 1px solid black;
    }
    50% {
        width: 80vw;
        opacity: 0.5;
        border: 1px solid black;
    }
    100% {
        height: 0;
        width: 80vw;
        opacity: 0;
        border: 0;
    }
  }


  /* Services CSS */
  #services_container_mobile{
    min-height: 95vh;
    height: fit-content;
    display: none;
    grid-template-rows: 15vh 75vh;
    grid-template-areas: 
    'st'
    'sn';
    margin: 0;
    padding: 2vh;
    padding-top: 0;
    padding-bottom: 3vh;
    background-color: rgb(114, 114, 114);
}

#services_container_pc{
    height: auto;
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vh;
    grid-template-rows: 100vh;
    grid-template-areas: 
    'hs vs';
    padding: 2vh;
    padding-top: 1vh;
    background-color: gray;
}

#horizontal_service_section{
    display: grid;
    grid-area: hs;
    border-radius: 5%;
    margin: 0;
    padding: 0;
    background-color: rgb(153, 178, 27);
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    'pi pt';
}

#vertical_service_section {
    display: grid;
    grid-area: vs;
    border-radius: 5%;
    margin: 0;
    padding: 0;
    row-gap: 1vh;
    background-color: orange;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'mi mi mt'
      'gt gi gi';
    position: relative;
  }
  
  #vertical_service_section::after {
    content: '';
    position: absolute;
    top: 50vh;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: black;
    z-index: 1;
  }
  

#personal_trainer_image{
    grid-area: pi;
    border-radius: 5% 0 0 5%;
    background-image: url(/img/services/Personal_Traning.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-right: 2px solid black;
}

#personal_trainer_text{
    grid-area: pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

#membership_image{
    grid-area: mi;
    background-image: url(/img/services/Membership.jpg);
    background-size: contain;
    border-radius: 5% 0 0 0;
}

#membership_text{
    display: flex;
    border-radius: 0 5% 0 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 7%;
    margin-right: 7%;
}

#group_image{
    grid-area: gi;
    background-image: url(/img/services/Group_Training.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 1%;
    border-radius: 0 0 5% 0;
}

#group_text{
    display: flex;
    grid-area: gt;
    border-radius: 0 0 0 5%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2vw;
}

#services_top_desc_pc{
    display: flex;
    grid-area: sd;
    background-color: aliceblue;
}
  

.services_button {
    position: relative;
    padding: 24px 64px;
    border-radius: 100vw;
    background-color: transparent;
    font-family: 'Playfair Display', serif;
    color: black;
    border: solid 1px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  .button_text {
    position: relative;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
  }
  
  .fill_container {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    padding-bottom: 100%;
    transform: translateY(-50%) rotate(180deg);
  }
  
  .fill_container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: darkslategrey;
    border-radius: 50%;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    transform: translateY(-100%);
  }
  
  .services_button:hover {
    border-color: darkslategray;
    transform: translateY(-4px);
  }
  
  .services_button:hover .fill_container {
    transform: translateY(-50%) rotate(0);
  }
  
  .services_button:hover .fill_container::after {
    transform: translateY(0);
  }
    

  /* About Us CSS */

  #about_us_container{
    display: grid;
    width: 100vw;
    margin: 0;
    padding: 0;
    min-height: 240vh;
    height: auto;
    grid-template-rows:25% 25% 25% 25%;
    grid-template-columns: 1fr 8.1vw 1fr;
    grid-template-areas: 
    'ot oi oi'
    'ci ci ct'
    'et ei ei'
    'ji ji jt';
}

#about_us_container h2{
    font-size: 6rem;
    text-align: center;
    flex: 1;
}

.shadow_top{
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 15px 9px -7px rgba(0,0,0,0.4);
}

#about_us_title{
    display: flex;
    grid-area: at;
}

#our_gyms_title{
    display: flex;
    grid-area: ot;
    background-color: cornflowerblue;
    align-items: center;
}

#our_gyms_images{
    display: grid;
    grid-area: oi;
    align-items: center;
    background-color: darkgrey;
    padding: 5vw;
    padding-top: 6vh;
    padding-bottom: 2vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'gm gg'
    'gs gb';
}

#gym_malmo{
    grid-area: gm;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#gym_gothenburg{
    grid-area: gg;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#gym_stockholm{
    grid-area: gs;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#gym_boras{
    grid-area: gb;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.gym_location_images{
    height: 15vh;
    width: 18vw;
}

.gym_location{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-top: 1vh;
}

#our_gyms_images h3{
    text-align: center;
    font-size: 1.5rem;
    margin: 1%;
}
#contact_us_title{
    display: flex;
    grid-area: ct;
    background-color: chartreuse;
}

#contact_us_images{
    display: flex;
    grid-area: ci;
    background-color: black;
}

#employees_title{
    display: flex;
    grid-area: et;
    background-color: #f14e4e;
}

#employees_images{
    display: flex;
    grid-area: ei;
    background-color: blueviolet;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.employee_article{
    width: 100%;
    height: 45%;
    background-color: #f14e4e;
    flex-basis: 26%;
}

.employee_article img{
    width: 75%;
    height: auto;
}

#jobs_title{
    display: flex;
    grid-area: jt;
    background-color: green;
}

#jobs_images{
    display: flex;
    grid-area: ji;
    background-color: aqua;
}





@media screen and (max-width: 600px) {

    /* General CSS */

    .header_universal{
        display: grid;
        background-color: green;
        position: fixed;
        z-index: 1;
        height: 5vh;
        width: 100vw;
        grid-template-columns: 10% 1fr;
        grid-template-areas:
        'nb hl';
    }

    .header_link_div{
        display: none;
    }

    .nav_icons{
        display: none;
    }

    .header_nav{
        display: none;
    }

    .menu_button{
        grid-area: nb;
        justify-content: center;
        align-items: center;
        margin: auto;
        cursor: pointer;
        display: inline;
    }

    .menu_button .material-icons{
        font-size: 2rem;

    }

    .menu{
    height: 100vh;
    width: 25vw;
    background: hotpink;
    position: fixed;
    top: 0;
    left: -26vw;
    transition: left 0.3s;
    z-index: 3;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);

    }

    .show{
        left: 0;
    }

    .fade_layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 2;
    }
    
    .fade_layer.visible{
        display: block;
    }

    .header_logo{
        grid-area: hl;
        background-color: aquamarine;
    }

    
    /* Home Page CSS */

    #home_container{
        height: 100vh;
        display: grid;
        background: none;
        grid-template-rows: 30vh 1fr;
        grid-template-columns: 100%;
        padding: 0;
        margin: 0;
        grid-template-areas: 
        'hi'
        'in';
    }

    #home_image{
        grid-area: hi;
        background-color: blue;

    }

    #home_title{
        display: none;
    }

    #home_info{
        grid-area: in;
        background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0;
        align-items: center;
    }

    
    .home_info_box{
        background-color: rgb(121, 117, 117);
        height: 18%;
        width: 85%;
        margin: 0;
        border-radius: 25%;
    }

    /* Shop Page CSS */

    #shop_container{
        min-height: 95vh;
        height: fit-content;
        display: grid;
        grid-template-rows: 30vh 1fr;
        grid-template-areas: 
        'si'
        'ss';
        margin: 0;
        padding-bottom: 5vh;
        background-color: rgb(114, 114, 114);
    }
    
    #shop_image{
        grid-area: si;
        background-color: blueviolet;   
    }
    
    .shop_section{
        grid-area: ss;
        display: flex;
        margin: 0;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    
    #protein_button,
    #supplements_button,
    #training_clothes_button,
    #accessories_button {
        display: flex;
    }
    
    .protein_section{
        grid-area: pr;
    }
    
    .supplements_section{
        grid-area: sp;
    }
    
    .training_clothes_section{
        grid-area: tc;
    }
    
    .accessories_section{
        grid-area: ac;
    }
    
    .products_button {
        justify-content: center;
        align-content: center;
        margin: 0;
        cursor: pointer;
        display: flex;
        background-color: white;
        width: 60vw;
        height: 7vh;
        margin-top: 5vh;
        transition: width 0.8s ease-in-out;
        transition-delay: 0.8s;
      }
      
      .products_button.wide {
        width: 90vw;
        transition-delay: 0s;
      }  
    
    .products_section {
        display: inline-flex;
        opacity: 0;
        height: 0;
        border: 0px solid black;
        align-content: center;
        justify-content: center;
        width: 33vw;
        animation: none;
      }
      
      .show_products {
        display: inline-flex;
        height: 40vh;
        border: 1px solid black;
        opacity: 100;
        position: relative;
        width: 80vw;
      }
      
      .show_products.animation {
        animation: show_section 1.6s ease-in-out forwards;
      }
      
      .show_products.animation-reverse {
        animation: hide_section 1.6s ease-in-out forwards;
      }
      
      @keyframes show_section {
        0% {
          width: 33vw;
          opacity: 0;
          border: 0;
          height: 0;
        }
        50% {
          width: 90vw;
          opacity: 0;
          border: 1px solid black;
          height: 0;
        }
        100% {
          width: 90vw;
          opacity: 1;
          border: 1px solid black;
          height: 40vh;
        }
      }
      
      @keyframes hide_section {
        0% {
          height: 40vh;
          width: 90vw;
          opacity: 1;
          border: 1px solid black;
        }
        50% {
            opacity: 0.5;
            border: 1px solid black;
        }
        100% {
            height: 0;
            width: 90vw;
            opacity: 0;
            border: 0;
        }
      }


    /* Services Page CSS */

    #services_container_pc{
        display: none;
    }

    #services_container_mobile{
        min-height: 95vh;
        height: fit-content;
        display: grid;
        grid-template-rows: 15vh 1fr;
        grid-template-areas: 
        'st'
        'sn';
        margin: 0;
        padding-top: 0;
        padding: 2vh;
        padding-bottom: 3vh;
        background-color: rgb(114, 114, 114);
    }

    #services_top_desc_mobile{
        display: flex;
        background-color: white;
        grid-area: st;
        border-bottom: 1px solid black;
    }

    #services_section{
        display: flex;
        background-color: blanchedalmond;
        grid-area: sn;
        flex-wrap: wrap;
        flex-direction: column;
        
    }

    .services_article{
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid black;
        padding-bottom: 2vh;
        margin-top: 2vh;
    }
      
      .services_button {
        width: fit-content;
        display:inline-block;
        padding:0.3em 1.2em;
        margin-top: 1vh;
        border:0.16em solid rgba(255,255,255,0);
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        background-color: #f14e4e;
        color:black;
        text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
        text-align:center;
        transition: all 0.2s
      }

    .no_wrap{
        flex-wrap: nowrap;
    }

    .services_article_text{
        display: flex;
        flex-direction: column;
        margin-left: 2vw;
    }

    .services_article_text h1, p{
        margin: 2px;
        padding: 0;
    }

    .portrait_image{
        width: 50%;
        height: auto;
    }

    .landscape_image{
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        margin: auto;
    }


    /* About Us CSS */

    #about_us_container{
        display: grid;
        width: 100vw;
        margin: 0;
        padding: 0;
        height: 100vh;
        grid-template-rows: 15vh 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 8.1vw 1fr;
        grid-template-areas: 
        'at at at'
        'ot oi oi'
        'ci ci ct'
        'et ei ei'
        'ji ji jt';
    }

    #about_us_title{
        display: flex;
        grid-area: at;
    }

    #our_gyms_title{
        display: flex;
        grid-area: ot;
        background-color: cornflowerblue;
    }

    #our_gyms_images{
        display: flex;
        grid-area: oi;
        background-color: darkgrey;
    }

    #contact_us_title{
        display: flex;
        grid-area: ct;
        background-color: chartreuse;
    }

    #contact_us_images{
        display: flex;
        grid-area: ci;
        background-color: black;
    }

    #employees_title{
        display: flex;
        grid-area: et;
        background-color: #f14e4e;
    }

    #employees_images{
        display: flex;
        grid-area: ei;
        background-color: blueviolet;
    }

    #jobs_title{
        display: flex;
        grid-area: jt;
        background-color: green;
    }

    #jobs_images{
        display: flex;
        grid-area: ji;
        background-color: aqua;
    }




}