/* General CSS */

body{
    height: auto;
    margin: 0;
}

/* Home Page CSS */

#home_container{
    height: auto;
    margin: 0;
}


@media screen and (max-width: 600px) {

    /* General CSS*/

    .header_universal{
        display: grid;
        background-color: green;
        position: fixed;
        z-index: 1;
        height: 5vh;
        width: 100vw;
        grid-template-columns: 10% 1fr;
        grid-template-areas:
        'nb hl';
    }

    .nav_button{
        grid-area: nb;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .nav_button .material-icons{
        font-size: 2rem;

    }

    .nav_aside{
        display: none;
        position: -100vw;
        height: 100vh;
    }

    .show{
        display: relative;
        position: 0;
    }

    .header_logo{
        grid-area: hl;
        background-color: aquamarine;
    }

    
    /* Home Page CSS */

    #home_container{
        height: 100vh;
        display: grid;
        grid-template-rows: 30vh 1fr;
        grid-template-areas: 
        'hi'
        'in';
    }

    #home_image{
        grid-area: hi;
        background-color: blue;

    }

    #home_info{
        grid-area: in;
        background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0;
        align-items: center;
    }

    
    .home_info_box{
        background-color: rgb(121, 117, 117);
        height: 18%;
        width: 85%;
        margin: 0;
        border-radius: 25%;
    }

    
}